body {
    font-family: 'Segoe UI', sans-serif;
    background: #f0f2f5;
    margin: 0;
}

/* HEADER */
header {
    background: linear-gradient(90deg, #000, #333);
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* SEARCH */
form {
    margin: 20px;
    text-align: center;
}

input {
    padding: 8px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* CATEGORY */
a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

/* GRID */
.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* CARD */
.card {
    background: white;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.card:hover {
    transform: translateY(-5px);
}

/* IMAGE */
.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

/* CONTENT */
.card h3 {
    margin: 10px;
}

.card p {
    margin: 5px 10px;
}

/* BUTTON */
button {
    width: 90%;
    margin: 10px;
    padding: 10px;
    border: none;
    background: #000;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #444;
}

/* CART POPUP */
.cart-box {
    position: fixed;
    top: 70px;
    right: 20px;
    width: 260px;
    background: white;
    border-radius: 10px;
    padding: 10px;
    display: none;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.card {
    animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
    from {opacity: 0; transform: scale(0.9);}
    to {opacity: 1; transform: scale(1);}
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

.modal-content button {
    margin: 5px;
    padding: 8px;
    border-radius: 6px;
}

.modal-content button:hover {
    opacity: 0.8;
}

.footer {
    background: #111;
    color: white;
    padding: 30px 20px 10px;
    margin-top: 50px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.footer-section {
    margin: 10px;
}

.footer-section h3, 
.footer-section h4 {
    margin-bottom: 10px;
}

.footer-section a {
    color: #ccc;
    text-decoration: none;
}

.footer-section a:hover {
    color: white;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #444;
    padding-top: 10px;
    font-size: 14px;
}